/*  sidebar -- https://stackoverflow.com/questions/49641293/bootstrap-4-fixed-top-nav-and-fixed-sidebar  */

body {
    padding-top: 56px;
}

.sticky-offset {
    top: 56px;
}

#id_date_of_birth .form-label {
    font-weight: bold;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #f8f9fa;    /* bg-light in bootstrap */
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: black;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #f8f9fa;    /* bg-light in bootstrap */

    height: 35px;
}
.sidebar-separator {
    background-color: #f8f9fa;    /* bg-light in bootstrap */

    height: 25px;
}
.logo-separator {
    background-color: #f8f9fa;    /* bg-light in bootstrap */
    height: 60px;
}

/* Closed submenu icon */
/* #sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
} */
/* Opened submenu icon */
/* #sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
} */

